//* CSS preProccessing
@use 'sass:map';
@import './variables';
@import './base';
@import './utilities';
@import './component';

//*[1] Variables
//*[2] Modules and Partails
//*[3] Nesting
//*[4]loop
//*[5]inheritance @extend
//*[6]mixin @include , function ,contions using @if
//*[7] mixin VS function

/* h1{
  background-color: $main-color;
  padding: $main-padding;
} */

@mixin Avater($w, $h, $bg, $circle: false) {
  width: $w;
  height: $h;
  background-color: $bg;
  @if $circle {
    border-radius: 50%;
  } @else if $circle == 'refai' {
    border-radius: 25%;
  } @else {
    border-radius: 10%;
  }
}
.home {
  .container {
    padding: $main-padding;
    width: 1320px;
    margin-inline: auto;
    h1 {
      color: $second-color;
    }
    ol {
      li {
        a {
          color: map.get($colors, 'info');
          padding: $main-padding;
          width: fit-content;
          position: relative;
          font: {
            size: 30px;
            weight: bold;
            style: italic;
          }
          &::before {
            content: '';
            position: absolute;
            width: 0%;
            height: 2px;
            background-color: $main-color;
            left: 5;
            bottom: 0;
            transition: width $transition-duration;
          }
          &:hover::before {
            width: 100%;
          }
        }
      }
    }
  }
}
.about {
  margin-block: 20px;
  padding: 40px;
  background-color: aqua;
  .avater {
    @include Avater(40px, 40px, red, false);
  }
  .avaterTwo {
    @include Avater(70px, 70px, blue, false);
  }
}
